@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
* {
    box-sizing: border-box;
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
html {
    scroll-behavior: smooth;
}
}
.header {

}
.main {

}
.footer {

}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: 0.3s;
}
.nav-link:hover {
    cursor: pointer;
}
.section {
    width: 50%;
}
@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}